.card-wrapper {
	min-width: 100%;
	position: relative;
	margin-top: 60px;
	display: grid;
	grid-template-columns: 300px 1fr;
	color: var(--text-color);
	padding: 30px;
	min-height: 400px;
}

/* ------------- BACK DROP ----------------- */

.card-wrapper .back-drop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.card-wrapper .back-drop::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: var(--bg-color);
	opacity: 0.9;
}

/* ------------- IMAGE SECTION --------------- */

.card-wrapper .img-section .img {
	transition: 300ms transform;
}

.card-wrapper .img-section:hover .img {
	transform: translateY(-5px);
}

.card-wrapper .img-section .trailer-container {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
}

.card-wrapper .img-section .trailer-container .trailer-btn {
	position: relative;
	display: flex;
	margin: 0 10px;
	width: 100%;
	color: var(--text-color);
	background: none;
	font-size: 2rem;
	border-style: none;
	cursor: pointer;
}

.card-wrapper .img-section .trailer-container .trailer-btn .arrow {
	width: 45px;
	height: 45px;
	margin-top: 5px;
	float: right;
	transition: 300ms transform ease-in-out;
}

.card-wrapper .img-section .trailer-container .trailer-btn .btn-title {
	position: relative;
	width: 100%;
	margin: 0 15px;
	padding: 5px;
}

.card-wrapper .img-section .trailer-container .trailer-btn .btn-title::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	transform: scaleX(1);
	height: 3px;
	background: var(--primary);
	transition: 300ms transform ease-in-out;
}

.card-wrapper
	.img-section
	.trailer-container:hover
	.trailer-btn
	.btn-title::before {
	transform: scaleX(0.8);
}

.card-wrapper .img-section .trailer-container:hover .trailer-btn .arrow {
	transform: translateX(-15px);
}

/* -------------- INFO SECTION -------------- */

.card-wrapper .info-section {
	margin: 0 15px;
	margin-top: 10px;
}

.card-wrapper .info-section .rating {
	float: right;
	width: 220px;
	height: 220px;
}

.info-section .rating .rating-text {
	font-size: 2.5rem;
	margin-bottom: 5px;
}

.card-wrapper .info-section .release-date span {
	font-size: 0.7rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: var(--text-color-secondary);
}

.card-wrapper .info-section .title {
	color: var(--primary);
	font-size: 3.5rem;
	line-height: 3.5rem;
	font-style: italic;
	margin-top: 25px;
}

.card-wrapper .info-section .alternative-title {
	margin-top: 15px;
	color: var(--text-color-secondary);
}

.card-wrapper .info-section .sinopsis {
	margin-top: 50px;
}

/* ------------ MEDIA QUERY SECTION ------------------ */

@media (max-width: 1200px) {
	.card-wrapper {
		position: relative;
		margin-top: 60px;
		display: grid;
		grid-template-columns: 250px 1fr;
	}

	/* ------- INFO SECTION ------ */

	.card-wrapper .info-section {
		max-height: 400px;
	}

	.card-wrapper .info-section .rating {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		float: right;
	}

	.card-wrapper .info-section .rating .rating-text {
		font-size: 1rem;
		margin-bottom: 10px;
	}

	.card-wrapper .info-section .title {
		font-size: 3rem;
		line-height: 3rem;
		margin-top: 20px;
	}

	.card-wrapper .info-section .sinopsis {
		margin-top: 20px;
	}
}

@media (max-width: 720px) {
	.card-wrapper .back-drop {
		display: none;
	}

	.card-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	/* ------ INFO SECTION ------------ */

	.card-wrapper .info-section {
		position: relative;
		margin-top: 100px;
		flex-direction: column;
	}

	.card-wrapper .info-section .rating {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		float: right;
	}

	.card-wrapper .info-section .release-date span {
		margin-bottom: 0;
	}

	.card-wrapper .info-section .title {
		margin-top: 5px;
		line-height: 2.5rem;
		font-size: 2.5rem;
	}

	.card-wrapper .info-section .rating .rating-text {
		font-size: 1rem;
		margin-bottom: 10px;
	}
}
