.slideshow-container {
	position: relative;
	overflow: hidden;
	padding-bottom: 70px;
}

.slideshow-container .slideshow-items {
	display: flex;
	transition: ;
}

.slideshow-container .slideshow-btn-container {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: 10px;
}

.slideshow-container .slideshow-btn {
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border-style: none;
	margin: 10px;
	background: #fff;
	transition: 300ms background;
}

.slideshow-container .slideshow-btn::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 35px;
	height: 35px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: -7px;
	cursor: pointer;
	transition: 300ms border;
}

.slideshow-container .active {
	background: var(--primary);
}

/* ------- MEDIA QUERYS -------- */

@media (max-width: 720px) {
	.slideshow-container .slideshow-btn-container {
		position: absolute;
		bottom: 0;
		left: 25%;
		margin-bottom: 10px;
	}
}
