.sub-header {
	position: relative;
	min-height: 700px;
	display: flex;
	align-items: flex-end;
}

/* ----------- BACKDROP ------------  */

.sub-header .backdrop {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.sub-header .backdrop::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--bg-color);
	opacity: 0.8;
}

/* ------------ RATING SECTION -------------- */
.sub-header .rating-section {
	position: absolute;
	top: 100px;
	right: 100px;
	width: 200px;
	height: 200px;
	transition: 300ms transform;
}

.sub-header .rating-section:hover {
	transform: scale(1.1);
}

.sub-header .rating-section .rating-text {
	font-size: 2.5rem;
	margin-bottom: 5px;
}

/* ----------- DESCRIPTION ------------ */

.sub-header .description {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 350px 1fr;
	height: 350px;
	background-color: var(--bg-color);
	border-radius: var(--border-radius);
	padding: 40px;
}

/* <<<< IMAGE >>>> */

.sub-header .description .img-container {
	position: relative;
	transition: 300ms transform;
}

.sub-header .description .img-container:hover {
	transform: translateY(-8px);
}

.sub-header .description .img-container .float-image-container {
	position: absolute;
	top: -250px;
	width: 100%;
}

/* <<<< OVERVIEW SECTION >>>> */

.sub-header .description .overview-section {
	margin-left: 30px;
}

.sub-header .description .overview-section .title {
	color: var(--primary);
	font-size: 3rem;
	line-height: 3rem;
}

.sub-header .description .overview-section .original-title {
	color: var(--text-color-secondary);
	font-size: 0.9rem;
}

.sub-header .description .overview-section .sinopsis {
	margin-top: 30px;
	font-size: 0.95rem;
}


/* ------- MEDIA QUERYS -------- */

@media (max-width: 720px) {
	.sub-header {
		display: flex;
		flex-direction: column;
		height: 1500px;
	}

	.sub-header .description {
		padding: 20px;
		display: flex;
		flex-direction: column;
	}

	.sub-header .description .overview-section{
		margin-top: 50px;
	}

	.sub-header .description .img-container .float-image-container {
		position: relative;
		top: 0;
	}

	.sub-header .rating-section {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

@media (max-width: 520px) {
	.sub-header {
		height: 1200px;
	}
}