.movie-poster {
	width: 220px;
	margin-right: 30px;
}

.movie-poster .title {
	color: var(--text-color);
	font-size: 1.1rem;
	text-align: center;
}

.movie-poster .img-container {
	width: 220px;
	height: 330px;
	border-radius: var(--border-radius);
	position: relative;
	transition: 300ms transform;
}

.movie-poster .img-container:hover {
	transform: translateY(-5px);
}

.movie-poster .img-container .rating-container {
	position: absolute;
	bottom: -5px;
	right: -20px;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: var(--bg-color);
}

.movie-poster .img-container .rating-container .rating-text {
	margin-bottom: 12px;
	font-weight: bold;
	color: var(--text-color);
}
