.sub-header-wrapper {
	position: relative;
	margin-top: 60px;
	display: grid;
	grid-template-columns: 300px 1fr;
	color: var(--text-color);
}

.sub-header-wrapper .img-section .trailer-container {
	width: 90%;
	margin: 0 auto;
}

.sub-header-wrapper .img-section .trailer-container .trailer-btn {
	position: relative;
	width: 100%;
	margin-top: 5px;
	padding: 5px;
	color: var(--text-color);
	background: none;
	font-size: 2rem;
	border-style: none;
	cursor: pointer;
}

.sub-header-wrapper .img-section .trailer-container .trailer-btn::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	transform: scaleX(1);
	height: 2px;
	background: var(--primary);
	transition: 300ms transform ease-in-out;
}

.sub-header-wrapper .img-section .trailer-container:hover .trailer-btn::before {
	transform: scaleX(0.1);
}

.sub-header-wrapper .info-section .rating {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	float: right;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 4px solid var(--primary);
}

.sub-header-wrapper .info-section {
	margin: 0 15px;
}

.sub-header-wrapper .info-section .release-date span {
	font-size: 0.65rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: var(--text-color-secondary);
}

.sub-header-wrapper .info-section .title {
	color: var(--primary);
	font-size: 3.5rem;
	font-style: italic;
}

.sub-header-wrapper .info-section .alternative-title {
	margin-top: -5px;
	color: var(--text-color-secondary);
}

.sub-header-wrapper .info-section .sinopsis {
	margin-top: 30px;
}

.sub-header-wrapper .info-section .slider-container {
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(100%);
}

.sub-header-wrapper .info-section .slider-container .slider-btn {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-style: none;
	margin: 10px;
	background: var(--primary);
}

.sub-header-wrapper .info-section .slider-container .slider-btn::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border: 2px solid var(--primary);
	border-radius: 50%;
	margin: -7px;
}
