.header {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header .title {
  color: var(--text-color);
}

.header .title::first-letter {
  color: var(--primary);
}

