.info-view {
}

.info-view .navbar {
	display: flex;
	justify-content: center;
}

.info-view .navbar .navbar-item {
	font-style: italic;
	color: var(--secondary);
	background: var(--terciary);
	padding: 5px 20px;
	margin: 0 10px;
	font-weight: bold;
}

.info-view .navbar .navbar-item::first-letter {
	text-transform: uppercase;
}

.info-view .navbar .active {
	background: var(--bg-color);
}
